@model imgbruh.Features.Imgs.Details.Model

@{
    ViewBag.Title = "Details";
}

<div class="row text-center">    
    <img class="img-responsive" src="@Model.Url" />
    <hr />
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h4>@Model.CodeName</h4><h5>by</h5><h4>@Model.UserName</h4>
    </div>
    @*<div class="col-xs-12 col-sm-8">    
        @Html.React("EmotionButtonSet", new { align="pull-right" })        
    </div>*@
    <hr />

</div>

@*@section scripts
{
    <script src="@Url.Content("~/bundles/emotion-button")"></script>
}*@